    html {
        background: #32434D;
        background-image: -webkit-radial-gradient(-10% 50%, circle, #1B2E41, rgba(255, 255, 255, 0)), -webkit-radial-gradient(50% 50%, circle, rgba(255, 255, 255, 0.63), #57646E), -webkit-radial-gradient(110% 50%, circle, #2B3846, rgba(255, 255, 255, 0));
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    body {
        font-family:'PT Sans', sans-serif;
        background: none;
    }
    section {
        margin: 30px 0;
    }
    .container {
        font-size: 0.9em;
    }
    #home {
        max-width: 750px;
    }
    .navbar-inverse .navbar-brand {
        color: white;
    }
    .navbar-brand {
        padding: 6px;
    }
    .navbar-brand span.glyphicon {
        font-size: 1.4em;
        margin-right: 8px;
        top: 5px;
    }
    .nav-tabs {
        border-radius: 4px 4px 0 0;
        box-shadow: 0 0 10px #FFF;
    }
    ul.nav-tabs a {
        font-weight: bold;
        font-size: 1.1em;
    }
    ul.nav-tabs a span.glyphicon {
        font-size: 1.4em;
        top: 4px;
        margin-right: 4px;
    }
    ul.nav-tabs a span.tab-text {
        display: none;
    }
    ul.nav-tabs.nav-justified>li {
        display: table-cell;
        width: 1%;
    }
    ul.nav-tabs.nav-justified>li>a {
        margin-bottom: 0px;
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs.nav-justified>.active>a, ul.nav-tabs.nav-justified>.active>a:hover {
        border-color: #FFF;
    }
    .tab-pane h6 {
        font-size: 1.1em;
        font-weight: 700;
        color: #418AB4;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    .btn-primary {
        background: #5585A2;
    }
    .btn.large-btn {
        width: 200px;
    }
    .btn-filler:after {
        content:".";
        padding: 6px 12px;
        display: inline-block;
        visibility: hidden;
    }
    .tab-content {
        background: #FFF;
        padding: 10px;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 0 10px #FFF;
    }
    .table>tbody>tr>td, .table>thead>tr>th {
        vertical-align: middle;
    }
    .table-striped>tbody>tr:nth-child(odd)>td {
        background-color: #E7F0F5;
    }
    .table-condensed>tbody>tr>td {
        padding: 2px 4px;
    }
    #tab-reservation span.btn-text {
        display: none;
    }
    #tab-seating .container {
        padding-left: 4px;
        padding-right: 4px;
        width: auto;
    }
    #tab-seating .seats {
        width: 120px;
        height: 120px;
        background: #88959C;
        margin: 10px auto;
        padding-top: 20px;
    }
    #tab-seating .seats p {
        color: white;
        margin: 4px auto;
        width: 100px;
        text-align: center;
    }
    #tab-seating .seats p .btn-link {
        color: white;
    }
    @media (min-width: 512px) {
        #tab-reservation span.btn-text {
            display: inline;
        }
        .container {
            font-size: 1em;
        }
    }
    @media (min-width: 768px) {
        .tab-content {
            padding: 40px;
        }
        ul.nav-tabs.nav-justified>li {
            float: none;
        }
    }
    @media (min-width: 1024px) {
        ul.nav-tabs a span.tab-text {
            display: inline;
        }

        [type="radio"] {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
        }
    }
